<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав студент групи КН-32 Мельниченко Н.В.
    </ion-title>
    <ion-title>
      Варіант 13
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> Завдання №3</ion-card-title> 
    </ion-card-header>
    <ion-card-content>
      <p class = "p_background"> Згенерувати матрицю розміром NxN. Знайти суму елементів побічної діагоналі. Саму діагональ позначити жовтим кольором</p>
      <ion-item>
        <ion-label position = "floating">Розмір матриці</ion-label>
        <ion-input type="number" id = "a" value="3" #Inputn></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="arrayras(Inputn.value)"> Сформувати матрицю</ion-button>
      <ion-item>
        <ion-grid>
          <ion-row *ngFor="let row of a; let i = index">
            <ion-col *ngFor="let cell of row; let j = index" [ngStyle]="getCellStyles(i, j)">
              {{ cell }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <p>Результат обчислення {{sum}}</p>
      </ion-item>
    </ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Лабораторна робота №1</ion-title>
  </ion-toolbar>
</ion-footer>